<?xml version="1.0"?>

<robot name="mini_cheetah_description
" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.194"/> 
    <xacro:property name="trunk_length" value="0.270"/>
    <xacro:property name="trunk_height" value="0.094"/>
    <xacro:property name="hip_radius" value="0.047"/>
    <xacro:property name="hip_length" value="0.04"/>
    <xacro:property name="thigh_shoulder_radius" value="0.047"/>
    <xacro:property name="thigh_shoulder_length" value="0.032"/>
    <xacro:property name="thigh_width" value="0.023"/>
    <xacro:property name="thigh_height" value="0.045"/>
    <xacro:property name="calf_width" value="0.0228"/>
    <xacro:property name="calf_height" value="0.016"/>
    <xacro:property name="foot_radius" value="0.02"/>
    <!-- these stick things are used by unitree to 
    create an additional virtual stick on top of robot for anit-rollover testing-->
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.195"/>

    <!-- kinematic value -->
    <!-- Thigh offset == deta y offset between hip and thigh joint -->
    <xacro:property name="thigh_offset" value="0.0838"/>
    <xacro:property name="thigh_length" value="0.2115"/>
    <xacro:property name="calf_length" value="0.201"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.196"/>
    <xacro:property name="leg_offset_y" value="0.05"/>
    <!-- doesnt seem to be used anywhere -->
    <xacro:property name="trunk_offset_z" value="0.01675"/>
    <!-- Appears to be used to generate collision for the hip joint -->
    <xacro:property name="hip_offset" value="0.04"/>

    <!-- joint limits -->
    <xacro:property name="damping" value="0"/>
    <xacro:property name="friction" value="0"/>
    <xacro:property name="hip_max" value="46"/>
    <xacro:property name="hip_min" value="-46"/>
    <xacro:property name="hip_velocity_max" value="21"/>
    <xacro:property name="hip_torque_max" value="33.5"/>
    <xacro:property name="thigh_max" value="240"/>
    <xacro:property name="thigh_min" value="-60"/>
    <xacro:property name="thigh_velocity_max" value="21"/>
    <xacro:property name="thigh_torque_max" value="33.5"/>
    <xacro:property name="calf_max" value="-52.5"/>
    <xacro:property name="calf_min" value="-154.5"/>
    <xacro:property name="calf_velocity_max" value="21"/>
    <xacro:property name="calf_torque_max" value="33.5"/>

    <!-- dynamics inertial value -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="4.1412"/>
    <xacro:property name="trunk_com_x" value="-0.006904956"/>
    <xacro:property name="trunk_com_y" value="0.000993034"/>
    <xacro:property name="trunk_com_z" value="-0.004211502"/>
    <xacro:property name="trunk_ixx" value="0.014387589"/>
    <xacro:property name="trunk_ixy" value="0.000035104"/>
    <xacro:property name="trunk_ixz" value="0.000574423"/>
    <xacro:property name="trunk_iyy" value="0.046804075"/>
    <xacro:property name="trunk_iyz" value="0.000033540"/>
    <xacro:property name="trunk_izz" value="0.055460553"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="0.622989083"/>
    <xacro:property name="hip_com_x" value="-0.002425546"/>
    <xacro:property name="hip_com_y" value="0.000426393"/>
    <xacro:property name="hip_com_z" value="-0.000180875"/>
    <xacro:property name="hip_ixx" value="0.000375859"/>
    <xacro:property name="hip_ixy" value="0.000004660"/>
    <xacro:property name="hip_ixz" value="0.000002147"/>
    <xacro:property name="hip_iyy" value="0.000643981"/>
    <xacro:property name="hip_iyz" value="0.000002429"/>
    <xacro:property name="hip_izz" value="0.000419542"/>

    <!-- thigh -->
    <xacro:property name="thigh_mass" value="0.88655052"/>
    <xacro:property name="thigh_com_x" value="-0.00115634"/>
    <xacro:property name="thigh_com_y" value="-0.021937743"/>
    <xacro:property name="thigh_com_z" value="-0.025194168"/>
    <xacro:property name="thigh_ixx" value="0.004231771"/>
    <xacro:property name="thigh_ixy" value="0.000005238"/>
    <xacro:property name="thigh_ixz" value="0.000001223"/>
    <xacro:property name="thigh_iyy" value="0.003873104"/>
    <xacro:property name="thigh_iyz" value="0.000027595"/>
    <xacro:property name="thigh_izz" value="0.001077143"/>

    <!-- calf -->
    <xacro:property name="calf_mass" value="0.117698860"/>
    <xacro:property name="calf_com_x" value="-0.000035785"/>
    <xacro:property name="calf_com_y" value="-0.000806713"/>
    <xacro:property name="calf_com_z" value="-0.043311500"/>
    <xacro:property name="calf_ixx" value="0.000931320"/>
    <xacro:property name="calf_ixy" value="0.000000117"/>
    <xacro:property name="calf_ixz" value="-0.000031319"/>
    <xacro:property name="calf_iyy" value="0.000938565"/>
    <xacro:property name="calf_iyz" value="0.000003431"/>
    <xacro:property name="calf_izz" value="0.000013155"/>


    <!-- foot -->
    <xacro:property name="foot_mass" value="0.037172164"/>

</robot>
